.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../imgs/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.hero-logo {
  height: 4rem;
  margin: 1.3rem;
}



.hero-content {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
}

.mobile-btn {
  display: none;
}
